:root {
    box-sizing: border-box;
    user-select: none;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: wheat;
    overflow: hidden;
}
#pause-btn {
    margin: 1.2rem 0 0 10rem;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
#resume-btn {
    margin: 1.2rem 0 0 10rem;
    padding: 8px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 217, 0);
    color: black;
    text-transform: uppercase;
    font-size: 18px;
}
#display{
    position: relative;
    height: 90%;
    width: 100%;
    box-shadow: 2px 2px 5px 5px black;
    background-color: white;
    background: url(./img/road.jpg) center/100% 100% no-repeat;
}
#pole {
    height: 18%;
    position: absolute; 
    right: 30%;
    top: 67%;
    animation: move 3s none infinite;
}
#character {
    height: 20%;
    position: absolute;
    bottom: 15%;
    left: 10%;
    animation-duration: 1s;
    animation-timing-function: ease;
}
#score {
    z-index: 1;
    display: inline-block;
    position: fixed;
    top: 0;
    margin: 18px 0 0 50px;
    font-size: 30px;
    font-weight: 800;
    align-items: center;
    vertical-align: middle;
}
@keyframes move {
    from {right: -10%;}
    to {right: 100%;}
}
@keyframes jump {
    0% {
        bottom: 20%;
    }
    50% {
        bottom: 50%;
    }
    75% {
        bottom: 45%;
    }
    100% {
        bottom: 20%;
    }
}
.jump {
    animation: jump 2s;
}
@media screen and (max-width: 387px) {
    #pole {
        position: absolute; 
        right: 30%;
        top: 70%;
        animation: move 3s none infinite;
    }
    #character {
        position: absolute;
        bottom: 12%;
        left: 15%;
        animation-duration: 1s;
        animation-timing-function: ease;
    }
}